<h1>portfolio items</h1> 
<a href="portfolios/new">create a new porfolio</a> 	
<% @portfolio_items.each do  |pis| %> 
<p> <%= link_to pis.title,portfolio_path(pis) %></p> 
<p> <%=pis.subtitle %></p>
<p> <%=pis.body %></p>
<%= image_tag pis.thumb_img if !pis.thumb_img.nil?%>  
 <%= link_to "edit portfolio...",edit_portfolio_path(pis)%> 
<% end %>s


